h1 {
    background-color: black;
    height: 60px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    color: black;
}
/* h3 {
    font-size: 20px;
    color: black;
    font-style: oblique;
}*/
ul {
    Margin: 20px;
}
.studentpicture {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 10px;
    margin-left: 20px;
}
.paragraph {
    margin-left: 2px;
    margin-right: 100px;
}
.contactinfo {
    font-size: 35px;
    color: black;
    font-weight: bold;
    margin: 20 0 0 35px;
}
.contactlist {
    font-size: 20px;
    color: black;
    font-weight: bold;
    padding-right: 20px;
}
.contactitem {
    font-size: 12px;
}
.leftbox {
    display: inline-block;
    position: relative;
    float: left;
    margin: 0px;
    width: 60%;
    height: 400px;
    background-color: lightgrey;
    /* border-style: solid; */
}
.rightbox {
    display: inline-block;
    position: relative;
    float: right;
    margin: px;
    width: 40%;
    height: 400px;
    background-color: rgb(189, 119, 119);
    /* border-style: solid; */
}